html, body {
  height: 100%;
  font-family: 'Roboto', serif;
}

.container,
.container-fluid {
  height: 100%;
}

#info-area {
  margin-bottom: 2em;
}

.popupImg {
  height: 400px;
}

.img-close-big {
  position: absolute;
  right: 13px;
  font-size: 40px;
}

#description-toggle {
  position: absolute;
  right: 5px;
  z-index: 100;
  top: 5px;
}

.footer {
  margin-top: 2em;
}

@media(max-width: 768px) {

  #map {
    height: 100%;
    width: 100%
  }

  #info-area {
    margin-bottom: 2em;
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 1000;
  }

}

@media(min-width: 769px) {
  
  #map {
    position: relative;
    height: 600px;
    width: 96%;
    left: 2%;
  }

}
